[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-taglist"]
	path = vim/bundle/vim-taglist
	url = https://github.com/thisivan/vim-taglist.git
[submodule "vim/bundle/minibufexpl"]
	path = vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vim-puppet"]
	path = vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "vim/bundle/vcscommand"]
	path = vim/bundle/vcscommand
	url = git://repo.or.cz/vcscommand.git
[submodule "vim/bundle/jellybeans"]
	path = vim/bundle/jellybeans
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = git://github.com/derekwyatt/vim-scala.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/vim-flake8"]
	path = vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "vim/bundle/vim-ri"]
	path = vim/bundle/vim-ri
	url = https://github.com/danchoi/ri.vim.git
[submodule "vim/bundle/vim-pydoc"]
	path = vim/bundle/vim-pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
