[submodule "vim/bundle/vim-pydoc"]
	path = vim/bundle/vim-pydoc
	url = https://github.com/fs111/pydoc.vim.git
    ignore = untracked
[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
    ignore = untracked
[submodule "vim/bundle/vim-ag"]
	path = vim/bundle/vim-ag
	url = https://github.com/epmatsw/ag.vim.git
    ignore = untracked
[submodule "vim/bundle/jedi"]
	path = vim/bundle/jedi
	url = https://github.com/davidhalter/jedi.git
    ignore = untracked
